.projectItem {
  width: 650px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 5px;


  a {
    text-decoration: none;
    color: black;
  }

  .description {
    margin-top: 5px;

    display: flex;
    justify-content: space-between;

    p {
      overflow: auto;
      max-width: 500px;
      max-height: 90px;
    }

    button {
      align-self: center;

      a {
        color: white;
      }
    }
  }
}
