.quantityInput {
  display: flex;
  margin-top: 10px;

  button {
    width: 30px;
  }

  input {
    //width: 100%;
    text-align: center;

    &[type='number'] {
      -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

}
