.detailsWrapper {
  width: 750px;
  margin-top: 10px;

  .name {
    margin-bottom: 30px;

    div {
      margin-bottom: 20px;
    }
  }

  .details {

    div:nth-child(1n) {
      margin-top: 5px;
    }
  }
}
